<div>
  <h3>Form 表單使用一般的 FromGroup</h3>
  <mat-divider></mat-divider>
  <div>input</div>
  <div>value: {{input.value| json}}</div>
    <div>dirty: {{input.dirty| json}}</div>
    <div>disable: {{input.disable| json}}</div>
    <div>errors: {{input.errors| json}}</div>
    <div>touched: {{input.touched| json}}</div>
  <form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>input</mat-label>
    <input type="text" matInput formControlName="input" placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
    <!-- <div>autocomplete</div>
    <div>value: {{autocomplete.value| json}}</div>
    <div>dirty: {{autocomplete.dirty| json}}</div>
    <div>disable: {{autocomplete.disable| json}}</div>
    <div>errors: {{autocomplete.errors| json}}</div>
    <div>touched: {{autocomplete.touched| json}}</div>

    <mat-form-field class="example-full-width">
    <mat-label>autocomplete</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="autocomplete"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field> -->

  <mat-divider></mat-divider>
<!--
  <div>autocompleteWithValidator</div>
    <div>value: {{autocompleteWithValidator.value| json}}</div>
    <div>dirty: {{autocompleteWithValidator.dirty| json}}</div>
    <div>disable: {{autocompleteWithValidator.disable| json}}</div>
    <div>errors: {{autocompleteWithValidator.errors| json}}</div>
    <div>touched: {{autocompleteWithValidator.touched| json}}</div>

  <mat-form-field class="example-full-width">
    <mat-label>autocompleteWithValidator</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="autocompleteWithValidator"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-divider></mat-divider> -->

  </form>
</div>

