.cus-dialog-lg {
    width: 90%;
    height: 90%;

    @media #{$phone} {
        width: 100%;
    }
}

.cus-dialog-md {
    width: 70%;
    height: 70%;

    @media #{$phone} {
        width: 100%;
    }
}

.cus-dialog-sm {
    width: 350px;
    height: auto;

    @media #{$phone} {
        width: 100%;
    }
}
