$dialog-header: 61px;
$dialog-actions: 69px;

.cus-dialog-lg {
    width: 90vw;
    height: 90vh;

    @media #{$phone} {
        width: 100%;
    }
}

.cus-dialog-md {
    width: 70vw;
    height: 70vh;

    @media #{$phone} {
        width: 100%;
    }
}

.cus-dialog-sm {
    width: 350px;
    height: auto;

    @media #{$phone} {
        width: 100%;
    }
}

.mdc-dialog__actions {
  padding: 1rem !important;
}

.mdc-dialog .mdc-dialog__content {
  padding: 1rem !important;
}

.cus-dialog-lg .mdc-dialog__content {
  height: calc(90vh - #{$dialog-header} - #{$dialog-actions});
}

.cus-dialog-md .mdc-dialog__content {
  height: calc(70vh - #{$dialog-header} - #{$dialog-actions});
}
